USE [master]
GO
/****** Object:  Database [Usuarios]    Script Date: 15/03/2022 12:01:31 a. m. ******/
CREATE DATABASE [Usuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Usuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Usuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Usuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Usuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Usuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Usuarios]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 15/03/2022 12:01:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Per_Id] [int] IDENTITY(1,1) NOT NULL,
	[Per_Nombres] [varchar](20) NULL,
	[Per_Apellidos] [varchar](20) NULL,
	[Per_NumeroIdentificacion] [varchar](50) NULL,
	[Per_Email] [varchar](50) NULL,
	[Per_TipoIdentificacion] [varchar](20) NULL,
	[Per_FechaCreacion] [datetime] NULL,
	[Per_NombresConcatenados] [varchar](40) NULL,
	[Per_IdentificacionConcatenados] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[Per_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/03/2022 12:01:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Usu_Id] [int] IDENTITY(1,1) NOT NULL,
	[Usu_Usuario] [varchar](20) NULL,
	[Usu_Pass] [varchar](20) NULL,
	[Usu_FechaCreacion] [datetime] NULL,
	[Usu_Personas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Usu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([Usu_Personas])
REFERENCES [dbo].[Personas] ([Per_Id])
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PERSONAS]    Script Date: 15/03/2022 12:01:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************************/
--NOMBRE:				SEBASTIAN QUIÑONEZ
--MODIFICACION:			13/03/2022
--DESCRIPCION:			CONSULTAR PERSONAS CREADAS
--PARAMETROS:			NUMERO DE IDENTIFICACION DE LA PERSONA
/************************************************************************************************/
CREATE PROC [dbo].[SP_CONSULTA_PERSONAS]
@NUMIDENTIFICACION VARCHAR(50)
AS
SELECT
	PER_ID,
	PER_NOMBRES,
	PER_APELLIDOS,
	PER_NUMEROIDENTIFICACION,
	PER_EMAIL,
	PER_TIPOIDENTIFICACION,
	PER_FECHACREACION,
	PER_NOMBRESCONCATENADOS,
	PER_IDENTIFICACIONCONCATENADOS
FROM PERSONAS
WHERE PER_NUMEROIDENTIFICACION = @NUMIDENTIFICACION;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_USUARIOS]    Script Date: 15/03/2022 12:01:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************************/
--NOMBRE:				SEBASTIAN QUIÑONEZ
--MODIFICACION:			13/03/2022
--DESCRIPCION:			CREAR INFORMACION PERSONAL Y USUARIO
--PARAMETROS:			INFORMACION TABLAS (PERSONAS Y USUARIO)
/************************************************************************************************/
CREATE PROC [dbo].[SP_INSERTAR_USUARIOS]
--INFORMACION PERSONAL
@NOMBRES VARCHAR(20),
@APELLIDOS VARCHAR(20),
@NUMIDENTIFICACION VARCHAR(50),
@EMAIL VARCHAR(50),
@TIPOIDENTIFICACION VARCHAR(20),
@FECHACREACION DATETIME,
--USUARIO
@USUARIO VARCHAR(20),
@PASS VARCHAR(20)

AS
BEGIN TRY
	BEGIN TRANSACTION
		DECLARE @COUNT_USUARIO INT =(SELECT COUNT(*) FROM Usuarios WHERE USU_USUARIO = @USUARIO);

		IF @COUNT_USUARIO > 0
		BEGIN 
			SELECT 0, 'USUARIO YA SE ENCUENTRA REGISTRADO';
		END
		ELSE
		BEGIN	
			INSERT INTO PERSONAS
			(
				PER_NOMBRES,
				PER_APELLIDOS,
				PER_NUMEROIDENTIFICACION,
				PER_EMAIL,
				PER_TIPOIDENTIFICACION,
				PER_FECHACREACION,
				PER_NOMBRESCONCATENADOS,
				PER_IDENTIFICACIONCONCATENADOS
			)VALUES
			(
				@NOMBRES,
				@APELLIDOS,
				@NUMIDENTIFICACION,
				@EMAIL,
				@TIPOIDENTIFICACION,
				@FECHACREACION,
				@NOMBRES + ' ' + @APELLIDOS,
				@TIPOIDENTIFICACION + ' ' +@NUMIDENTIFICACION
			);
			INSERT INTO Usuarios
			(
				USU_USUARIO,
				USU_PASS,
				USU_FECHACREACION,
				USU_PERSONAS
			)VALUES
			(
				@USUARIO,
				@PASS,
				@FECHACREACION,
				@@IDENTITY
			);
			SELECT 1, 'SE GUARDO LA INFORMACION CORRECTAMENTE';
		END;
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	SELECT 0, ERROR_MESSAGE();
	ROLLBACK TRANSACTION;
END CATCH;
		

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 15/03/2022 12:01:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN]
@USUARIO VARCHAR(20),
@PASS VARCHAR(20)

AS
BEGIN TRY
BEGIN TRANSACTION
	DECLARE @COUNT_USUARIO INT = (SELECT COUNT(*) FROM Usuarios WHERE Usu_Usuario = @USUARIO);
	DECLARE @COUNT_PASS INT = (SELECT COUNT(*) FROM Usuarios WHERE Usu_Pass = @PASS);

	IF @COUNT_USUARIO < 1 
	BEGIN
		SELECT 0, 'USUARIO NO ENCONTRADO';
	END 
	ELSE IF @COUNT_PASS < 1
	BEGIN
		SELECT 0, 'CONTRASEÑA INCORRECTA';
	END	
	ELSE IF @COUNT_PASS > 0
	BEGIN 
		SELECT 
			U.USU_USUARIO,
			P.PER_NOMBRES,
			P.PER_APELLIDOS,
			P.PER_EMAIL,
			P.PER_FECHACREACION,
			P.PER_NUMEROIDENTIFICACION,
			P.PER_TIPOIDENTIFICACION,
			P.PER_IDENTIFICACIONCONCATENADOS,
			P.PER_NOMBRESCONCATENADOS
		FROM USUARIOS AS U 
		INNER JOIN PERSONAS AS P ON U.USU_PERSONAS = P.PER_ID
		WHERE U.USU_USUARIO = @USUARIO 
		AND U.USU_PASS = @PASS;
	END;
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	SELECT 0, ERROR_MESSAGE();
	ROLLBACK TRANSACTION;
END CATCH;
GO
USE [master]
GO
